body {
  margin: 0;
}

footer,
header,
nav,
section {
  display: block;
}

img {
  border-style: none;
}

input,
select,
textarea {
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
}

button,
input {
  overflow: visible;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
}