@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(background.jpg);
}

a {
    color: black;
}

a:active {
    color: white;
}

/*==========Header==========*/

header {
    background-color: darkgray;
    overflow: hidden;
    padding: 0 75px;
    box-shadow: 0 10px 10px gray;
    display: block;
}

header img {
    width: 300px;
    float: left;
    position: relative;
}

header nav {
    float: right;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav ul li .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


header nav ul li a:hover,
header nav ul li .dropdown:hover .dropbtn {
    background-color: lightblue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    color: white;
}

/*==========Main Content==========*/

.main-container {
    clear: both;
    margin: 20px 100px;
    padding: 5px;
}

.main-container section {
    text-align: center;
    margin: 5px 10%;
}

.main-containe > section > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-container > section > ul > li {
    display: block;
    text-align: center;
    text-decoration: none;
}

.main-container .left-column {
    float: left;
    width: 43.25%;
    height: 300px;
    padding: 25px;
    margin: 0 0 0 25px;
    box-shadow: 10px 0px 10px gray inset;
}

.main-container .right-column {
    float: left;
    width: 43.25%;
    height: 300px;
    padding: 25px;
    margin: 0 25px 0 0;
    box-shadow: -10px 0px 10px gray inset;
}

.main-container .top-right {
    box-shadow: -10px 10px 10px gray inset;
    float: left;
    width: 43.25%;
    height: 300px;
    padding: 25px;
    margin: 25px 25px 0 0;
}

.main-container .top-left {
    float: left;
    box-shadow: 10px 10px 10px gray inset;
    width: 43.25%;
    height: 300px;
    padding: 25px;
    margin: 25px 0px 0px 25px;
}

.main-container .bottom-right {
    box-shadow: -10px -10px 10px gray inset;
    float: left;
    width: 43.25%;
    height: 300px;
    padding: 25px;
    margin: 0 25px 25px 0;
}

.main-container .bottom-left {
    box-shadow: 10px -10px 10px gray inset;
    float: left;
    width: 43.25%;
    height: 300px;
    padding: 25px;
    margin: 0 0 25px 25px;
}

.main-container .last {
    align-self: center;
    float: left;
    height: 200px;
    padding: 25px 25px 25px 25px;
    margin: 0 25px 25px 25px;
    width: 90.85%;

    box-shadow: -10px 10px 10px gray inset, 10px -10px 10px gray inset;
}

.box1 {
    background-color: #d9b3ff;
    opacity: .65;
}

.box2 {
    background-color: aliceblue;
    opacity: .65;
}

.box1:hover {
    background-color: #9966ff;
}

.box2:hover {
    background-color: #80aaff;
}

/*Contact Us*/

iframe {
    width: 49%;
    height: 400px;
    border: 0;
    box-shadow: 5px 10px 10px gray;
    margin: 25px 25px 25px 0;
}

.left {
    padding: 0;
    float: left;
}
input,
select {
    font-family: 'Montserrat', sans-serif;
}

input[type=text],
select {
    width: 125%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=tel],
select {
    width: 125%;
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 125%;
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80%;
    background-color: lightblue;
    color: white;
    padding: 14px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea,
select {
    font-family: 'Montserrat', sans-serif;
    width: 125%;
    height: 175px;
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

input[type=submit]:hover {
    background-color: skyblue;
}

/*==========Footer==========*/

footer {
    clear: both;
    text-align: center;
    background-color: darkgray;
    overflow: hidden;
    padding: 0 75px;
    box-shadow: 0 -10px 10px gray;
    padding-top: 5px;
    margin-top: 15px;
}

footer a:visited {
    color: black;
}
